body,
html {
	height: 100vh;
	margin: 0;
	font-family: 'Gothic', sans-serif;
	background-color: rgba(21, 24, 23, 1);
	color: rgb(253, 253, 253);
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.top-nav {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 25px 50px;
	border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
}

.nav-logo {
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.nav-links a {
	color: #fff;
	font-weight: 100;
	text-decoration: none;
	margin-left: 30px;
}

.hero {
	text-align: center;
}

.hero h1 {
	font-family: "General Sans Regular", sans-serif;
	font-size: 70px;
	font-weight: 400;
	font-style: normal;
	margin: 0.67em 0;
}

.hero p {
	font-size: 20px;
	color: #999999;
	font-weight: 200;
}

.cta-button {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	border: 1px solid rgb(253, 253, 253);
	border-radius: 25px;
	color: rgb(253, 253, 253);
	background-color: transparent;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
	color: #fff;
	background-color: #00f;
}

.footer {
	position: absolute;
	bottom: 30px;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 0.8em;
}

/* Style for the peaky-blinders container */
.peaky-blinders-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	padding: 50px;
	/* or your preferred max width */
	margin: 0 auto;
	border-radius: 20px;
	/* Adjust as needed for rounded corners */
	background: rgba(255, 255, 255, 0.1);
	/* Semi-transparent white background */
	backdrop-filter: blur(10px);
	/* This will give the frosted glass effect */
	border: 2px solid rgba(255, 255, 255, 0.3);
	/* Light white border */
	position: relative;
	width: 100%;
	max-width: 800px;
}

.member {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.member img {
	width: 100px;
	/* Adjust size as needed */
	height: 100px;
	/* Adjust size as needed */
	border-radius: 50%;
	/* Round image */
	margin-bottom: 10px;
}

.member h3 {
	font-size: 1.2em;
	/* Adjust size as needed */
}

.member p {
	font-size: 1em;
	/* Adjust size as needed */
}