body,
html {
	height: 100vh;
	margin: 0;
	font-family: 'Gothic', sans-serif;
	background-color: rgba(21, 24, 23, 1);
	color: rgb(253, 253, 253);
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.top-nav {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 25px 50px;
	border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
}

.nav-logo {
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.nav-links a {
	color: #fff;
	font-weight: 100;
	text-decoration: none;
	margin-left: 30px;
}

.footer {
	position: absolute;
	bottom: 30px;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 0.8em;
}

.team-section {
	text-align: center;
	padding: 20px;
}

.team-container {
	display: inline-block;
	position: relative;
	padding: 20px;
	margin-top: 10px;
	/* Adjust the space between title and container */
}

.team-title {
	font-weight: 100;
	font-size: 1.5em;
	color: rgba(255, 255, 255, 0.7);
}

.team-members {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;
	column-gap: 60px;
	justify-items: center;
	align-items: center;
}

.member {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Styling for images inside .member */
.member img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	object-fit: cover;
	margin-bottom: 0px;
}

/* Larger central member image */
.member.central img {
	width: 120px;
	height: 120px;
}

/* Correct the positioning of the members to form a dice number 5 pattern */
.member:nth-child(1) {
	grid-column: 1;
	grid-row: 1;
}

.member:nth-child(2) {
	grid-column: 2;
	grid-row: 2;
	align-self: end;
	/* Align the central member to the bottom of the first row */
}

.member:nth-child(3) {
	grid-column: 3;
	grid-row: 1;
}

.member:nth-child(4) {
	grid-column: 1;
	grid-row: 3;
	align-self: start;
	/* Align the member to the top of the second row */
}

.member:nth-child(5) {
	grid-column: 3;
	grid-row: 3;
	align-self: start;
	/* Align the member to the top of the second row */
}

/* Other styles remain unchanged */

.member h3 {
	margin: 10px 0 0 0;
	/* Top margin 10px, no margin on other sides */
	font-size: 1em;
	/* Adjust font size as needed */
}

.member p {
	margin: 5px 0 10px 0;
	/* Top margin 5px, bottom margin 10px, no margin on left and right */
	font-size: 0.8em;
	/* Adjust font size as needed */
	color: rgba(255, 255, 255, 0.7);
}

.member.central p {
	margin: 5px 0 10px 0;
	/* Top margin 5px, bottom margin 10px, no margin on left and right */
	font-size: 0.9em;
	/* Adjust font size as needed */
	color: rgba(255, 255, 255, 0.7);
}

.member.central h3 {
	margin: 10px 0 0 0;
	font-size: 1.2em;
	/* Top margin 5px, no margin on other sides */
}