body,
html {
	height: 100vh;
	margin: 0;
	font-family: 'Gothic', sans-serif;
	background-color: rgba(21, 24, 23, 1);
	color: rgb(253, 253, 253);
	overflow-x: hidden;
	overflow-y: hidden;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.top-nav {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 25px 50px;
	border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
}

.nav-logo {
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.nav-links a {
	color: #fff;
	font-weight: 100;
	text-decoration: none;
	margin-left: 30px;
}

.footer {
	position: absolute;
	bottom: 30px;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 0.8em;
}

.delete-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

#deleteButton {
	padding: 10px 15px;
	margin-top: 20px;
	font-size: 1rem;
	color: white;
	background-color: #ff4136;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

#deleteButton:hover {
	background-color: #e82c0c;
}
