body,
html {
	height: 100vh;
	margin: 0;
	font-family: 'Gothic', sans-serif;
	background-image: url(../images/back1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: rgb(253, 253, 253);
	overflow-x: hidden;
	overflow-y: hidden;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 40px);
}

.top-nav {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 25px 50px;
	border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
}

.nav-logo {
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.nav-links a {
	color: #fff;
	font-weight: 100;
	text-decoration: none;
	margin-left: 30px;
}

.hero {
	text-align: center;
}

.hero h1 {
	font-family: "General Sans Regular", sans-serif;
	font-size: 70px;
	font-weight: 400;
	font-style: normal;
	margin: 0.67em 0;
}

.hero p {
	font-size: 20px;
	color: #999999;
	font-weight: 200;
}

.cta-button {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	border: 1px solid rgb(253, 253, 253);
	border-radius: 25px;
	color: rgb(253, 253, 253);
	background-color: transparent;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
	color: rgba(21, 24, 23, 1);
	background-color: rgb(253, 253, 253);
}

.footer {
	position: absolute;
	bottom: 30px;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 0.8em;
}