body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.background-image {
    /* 배경 이미지 URL을 사용자가 원하는 이미지 경로로 변경 */
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    /* 배경에 어두운 오버레이 추가 */
    background-color: black;
    opacity: 0.9;
}

/* 배경에 어두운 오버레이를 추가하기 위한 가상 요소 */
.background-image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5; /* 배경을 어둡게 하기 위한 투명도 조정 */
    z-index: -1; /* 배경 이미지 뒤로 보내기 */
}

header {
    width: 100%;
    position: fixed; /* 헤더를 상단에 고정 */
    top: 0;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* 플렉스박스를 사용하여 항목들을 가운데 정렬 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
    align-items: center; /* 세로 방향 중앙 정렬 */
}

nav ul li {
    display: inline;
    margin: 20px 100px; /* 상단 여백과 좌우 여백 조정 */
}

nav ul li a {
    text-decoration: none;
    color: white;
	font-family: sans-serif;
    font-weight: lighter;
    transition: color 0.3s ease; /* 호버 효과를 위한 전환 효과 추가 */
}

nav ul li a:hover {
    color: #ccc; /* 링크에 마우스를 올렸을 때 색상 변경 */
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.title-container h1 {
	font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
	font-weight: lighter;
	margin-bottom: 10px;
}

.title-container h2 {
    font-size: 5em;
    margin-top: -10px;
}

.the-story-of-webserv {
    position: fixed; /* 고정 위치 */
    top: 50%; /* 화면의 중앙에 위치 */
    right: -69px; /* 오른쪽에 위치 */
    transform: translateY(-50%) rotate(-90deg); /* 90도 회전 */
    background: rgba(255, 255, 255, 0.9); /* 흰색 반투명 배경 */
    padding: 17px; /* 패딩 */
    box-shadow: 0px 5 5px rgba(0, 0, 0, 0.2); /* 아래쪽에 그림자 추가 */
    z-index: 10; /* 다른 요소들 위에 오도록 z-index 설정 */
    white-space: nowrap; /* 텍스트가 한 줄로 나오도록 설정 */
}

.the-story-of-webserv p {
    margin: 0; /* 기본 마진 제거 */
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; /* 폰트 패밀리 설정 */
    font-weight: bold; /* 폰트 굵기 설정 */
    font-size: 0.8em;
    color: #333; /* 글씨 색상 */
    display: block; /* 블록 요소로 변경 */
}

.the-story-of-webserv a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상 상속 */
}

.the-story-of-webserv a:hover {
    text-decoration: none;
}